/* The 9-column Deco Grid System. 
 *
 * Cells are 11.11% width. No margins
 * 
 */

.row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
.cell {
  position: relative;
  float: left;
  left: 100%;
}

/* Width classes. 
   For a given cell width, the calculation is: width: (11.11*n)% */   
.width-1  { width: 11.11% }
.width-2  { width: 22.22% }
.width-3  { width: 33.33% }
.width-4  { width: 44.44% }
.width-5  { width: 55.55% }
.width-6  { width: 66.66% }
.width-7  { width: 77.77% }
.width-8  { width: 88.88% }
.width-9  { width: 100%   }

/* Positioning classes, these are subtracting from a rightmost 
   position, which is why they seem the wrong way around */
/* For a given position, the calculation is margin-left: -100 + (11.11*n) */
.position-0  { margin-left: -100%   }
.position-1  { margin-left: -88.88% }
.position-2  { margin-left: -77.77% }
.position-3  { margin-left: -66.66% }
.position-4  { margin-left: -55.55% }
.position-5  { margin-left: -44.44% }
.position-6  { margin-left: -33.33% }
.position-7  { margin-left: -22.22% }
.position-8  { margin-left: -11.11% }


/* End of the core Deco Grid System */

/* Convenience classes — ¼, ½, ¾ widths and ¼, ½, ¾ positions. 
   Not strictly necessary. */
.width-1\3a 2 { width:    50%; } /* .width-1:2 */
.width-1\3a 4 { width:    25%; } /* .width-1:4 */
.width-3\3a 4 { width:    75%; } /* .width-3:4 */
.position-1\3a 4 {margin-left:    -75%;} /* .position-1:4 */
.position-1\3a 2 {margin-left:    -50%;} /* .position-1:2 */
.position-3\3a 4 {margin-left:    -25%;} /* .position-3:4 */


/* Special classes for ⅓, ⅔ widths and ⅓, ⅔ positions. 
These do not strictly conform to the grid, but are useful for certain layouts. */
.width-1\3a 3 { width: 33.33%; } /* .width-1:3 */
.width-2\3a 3 { width: 66.66%; } /* .width-2:3 */
.position-1\3a 3 {margin-left: -66.66%;} /* .position-1:3 */
.position-2\3a 3 {margin-left: -33.33%;} /* .position-2:3 */
